.Switch__Page.Switch__Page-Details {
  padding: var(--pf-c-page__main-section--PaddingTop) calc(var(--pf-c-page__main-section--PaddingRight)*2) var(--pf-c-page__main-section--PaddingBottom) calc(var(--pf-c-page__main-section--PaddingLeft)*2);
}

.redLabel {
  background: #c9190b
}

.greenLabel {
  background: #486b00
}

.successLabel {
  background: #06c
}

.normalLabel {
  background: rgba(3,3,3,0.32)
}
