.pf-c-simple-list ul ul {
  margin-left: 1em;
}

.pf-c-simple-list .pf-c-simple-list__title {
  cursor: pointer;
}


.expand-all-row {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: scroll;
}


.list-view-pf-actions.recenter-icon,.list-view-pf-checkbox.recenter-icon {
  margin-top: 30px;
  margin-bottom: 10px;
}

.search-mac-icon {
  font-size: 1em; /* Cambia el tamaño de la lupa de búsqueda en caada switch o grupo */
}
